html {
    scroll-behavior: smooth;
}

.navbar-logo {
    max-width: 90px;
}

.banner {
    font-family: 'Pacifico', cursive;
    color: #5e4352;
}

@media only screen and (max-width: 768px) {
    .banner {
        font-size: 1.6rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.mockups {
    max-width: 200px;
}

.bg-purple {
    background-color: #5e4352;
}

.headings {
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
}

@media only screen and (max-width: 768px) {
    .headings {
        font-size: 0.8rem;
        padding-top: 20px;
        text-align: center;
    }
}

.font-color {
    color: #dfbbb1;
}

.bg-color {
    background-color: #dfbbb1;
}

.styled-font {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .styled-font {
        font-size: 1.4rem;
    }
}

.credits {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.email {
    height: calc(1.5em + .75rem + 2px);
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dfbbb1b7;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, 
                box-shadow .15s ease-in-out;
}

.agree {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.github-icon {
    width: 20px;
    padding: 0px 1px 3px 0px;
    margin-left: 5px;
}