.navbar-logo {
    max-width: 90px;
}

.banner {
    font-family: 'Pacifico', cursive;
    color: #5e4352;
}

.mockups {
    max-width: 200px;
}

.bg-purple {
    background-color: #5e4352;
}

.headings {
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}

.font-color {
    color: #dfbbb1;
}

.bg-color {
    background-color: #dfbbb1;
}

.styled-font {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.credits {
    font-family: 'Courier New', Courier, monospace;
    font-size: 11px;
}